.container .movie {
  float: left;
  width: 30%;
  margin: 8px;
  height: 350px;
}

.container .movie:hover {
  background-color: #aaa;
}

.container .movie .title {
  font-size: 20px;
}

.container .movie img {
  height: 300px;
}

.full-movie {
  z-index: 10;
  position: fixed;
  width: 64%;
  overflow: auto;
  height: 77%;
  left: 17%;
  background-color: #222;
  border: 5px solid #222;
  border-radius: 5px;
  color: #fff;
  top: 80px;
}

.popup .close {
  position: absolute;
  width: 20px;
  right: 20px;
  top: -130px;
}

.close img {
  width: 20px;
}
