.movie-container {
  position: fixed;
  top: 80px;
  left: 10%;
  width: 80%;
  background-color: #ccc;
  border: 5px solid #ccc;
  border-radius: 5px;
  margin: auto;
  align-content: center;
}

.movie-container .movie {
  display: block;
  float: left;
  height: 20%;
  width: 33%;
  text-align: center;
  background-color: #ccd;
}

.movie-container .movie .title {
  font-size: 20px;
}

.movie-container .movie img {
  width: 80%;
}